<div class="mt-3 text-end">
    <a href="" routerLink="/customer/add" class="btn btn-outline-success me-1 btn-sm">Add</a>

 </div>
<div class="card my-3" *ngFor="let c of customers">
    <div class="card-header">
      <h3>{{c.name}} :</h3>
    </div>
    <div class="card-body row">
        <div class="col-3 border-end">
           <h6 class="text-center text-decoration-underline">Customer Details :</h6>
           <div >
            <i class="fa-solid fa-phone" style="color: #000000;"></i> {{c.phone}}
            
           </div>
           <div>
            <i class="fa-solid fa-envelope" style="color: #000000;"></i> {{c.email}}
           </div>
        </div>
        <div  class="col-2 border-end">
            <h6 class="text-center text-decoration-underline">Odometer :</h6>

           
            <div>
                <i class="fa-solid fa-gauge" style="color: #000000;"></i> : {{c.running_km}}
            </div>
        </div>
        <div class="col-2 border-end">
            <h6 class="text-center text-decoration-underline"> Date :</h6>

           
            <div>
                <i class="fa-solid fa-calendar-days" style="color: #000000;"></i> {{c.created_date|date}}
            </div>
        </div>
        <div class="col-2 border-end">
            <h6 class="text-center text-decoration-underline">Vehicle Number :</h6>
            <i class="fa-solid fa-car-side" style="color: #000000;"></i> {{c.vehicle_no}}
            
        </div>
        <div class="col-1 border-end">
            <h6 class="text-center text-decoration-underline">Total :{{c.work_total}}</h6>

            <div>
                <i class="fa-solid fa-money-check-dollar" style="color: #000000;"></i> 
            </div>

            
        </div>
        <div class="col-2">
            <h6 class="text-center text-decoration-underline">Action :</h6>

            <div class="my-3"> 
                <a [routerLink]="['/customer',c.id]" class="btn btn-outline-primary me-1 btn-sm">view</a>
                <a href="" routerLink="/customer/add" [queryParams]="{cust_id:c.id}" class="btn btn-outline-warning me-1 btn-sm">edit</a>
                <button (click)="handleDelete(c.id)" class="btn btn-outline-danger btn-sm">delete</button>
                <button class="btn btn-outline-primary me-1 btn-sm" (click)="generatePDF(c.id)">Invoice</button>
            </div>

            
        </div>
  
    </div>
  </div>


